DATABASE_URL="file:./dev.db"
GOV_FUEL_DATASET_URL="https://sedeaplicaciones.minetur.gob.es/ServiciosRESTCarburantes/PreciosCarburantes/EstacionesTerrestres/"
OSRM_API_URL="https://router.project-osrm.org"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_DEFAULT_CENTER_LAT="40.4168"
NEXT_PUBLIC_DEFAULT_CENTER_LON="-3.7038"
NEXT_PUBLIC_DEFAULT_ZOOM="6"
